@import url('/css/media/all.css');
@import url('/css/media/landscape-480.css') screen and (min-width: 480px) and (orientation: landscape);
@import url('/css/media/landscape-800.css') screen and (min-width: 800px) and (orientation: landscape);
@import url('/css/media/landscape-1024.css') screen and (min-width: 1024px) and (orientation: landscape);
@import url('/css/media/landscape-1280.css') screen and (min-width: 1280px) and (orientation: landscape);
@import url('/css/media/landscape-1400.css') screen and (min-width: 1400px) and (orientation: landscape);
@import url('/css/media/portrait-480.css') screen and (min-width: 480px) and (orientation: portrait);





/*@media all and (min-width: 480px) and (orientation: portrait) {
	body header {
		font-size: 12pt;
	}
	body article header {
		background-color: blue;
	}
	body article section {
		background-color: blue;
	}
}
@media all and (min-width: 800px) and (orientation: landscape) {
	body header {
		font-size: 14pt;
	}
	body article header {
		background-color: green;
	}
	body article section {
		background-color: green;
	}
}
@media all and (min-width: 1280px) {
	body header {
		font-size: 20pt;
	}
	body article header {
		background-color: red;
	}
	body article section {
		background-color: red;
	}	
}/*